/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}



main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 2rem;
}

#current-image-container img {
    max-width: 100%;
    border-radius: 8px;
}

ul#search-history {
    list-style-type: none;
    padding: 0;
}

ul#search-history li {
    padding: 0.5rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin: 0.5rem 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

ul#search-history li:hover {
    background-color: #e6e6e6;
}
